<h2>Exemplo de pipes</h2>


<p>Titulo: {{livro.titulo | uppercase |camelCase}} </p>
<p>Rating: {{livro.rating | number:'1.1-2'}}</p>
<p>Numero paginas: {{livro.numeroPaginas | number}}</p>
<p>Preço: {{livro.preco | currency:'BRL':true}}</p>
<p>Data lançamento: {{livro.dataLancamento | date:'dd-MMMM-yyyy'}} </p>
<p>Url: {{livro.url}}</p>
<hr>
<!--<p>Livro: {{livro | json}}</p>-->
<p>Novo curso</p>
<input type="text" #novoCurso>
<button (click)="addCursos(novoCurso.value)">adicionar curso</button>

<h3>Pesquisar cursos</h3>
<p>Pipe puro</p>
<input type="text"[(ngModel)]="filtro">
<ul>
    <li *ngFor="let liv of livros | filtroArray: filtro">
        {{ liv }}
    </li>
</ul>

<h5>Pipe Impuro</h5>

<ul>
    <li *ngFor="let liv of livros | filtroArrayImpuro: filtro">
        {{ liv }}
    </li>
</ul>

<h5>Maneira correta de usar filtro</h5>
<ul>
    <li *ngFor="let liv of obterCurso()">
        {{ liv }}
    </li>
</ul>


